Repository Alamode89/Air-Quality-Project, pull requests merged in 2022-04, with the labels that each got.

#10 Added Search Bar Functionality
  project/frontend/package.json
  project/frontend/src/Components/Initialtest.js
  project/server.js
Labels: enhancement, frontend

#27 Created update function
  project/frontend/src/Components/AirQuality.js
  project/server.js
  project/utility/update.js
Labels: enhancement, backend, frontend

#31 Fixed update file to include all columns
  project/utility/update.js
Labels: bug, backend

#37 consolidated api responses
  project/server.js
  project/utility/backup.js
  project/utility/deleteEntry.js
  project/utility/update.js
Labels: server, backend
